.search-form {
    display: block;
    height: 50px;
    background-color: aquamarine;
    text-align: center;
    padding-top: 15px;
}

.load-more {
    visibility: hidden;
    margin: 10px 25px 10px auto;
    
}